<footer>
    <nav class="social-links">
        <a href="{{githubLink}}" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
        <a href="{{linkedInLink}}" class="social-link" target="_blank" ><i class="fab fa-linkedin-in"></i></a>
        <a href="{{facebookLink}}" class="social-link" target="_blank" ><i class="fab fa-facebook-f"></i></a>
        <a href="{{twitterLink}}" class="social-link" target="_blank" ><i class="fab fa-twitter"></i></a>
    </nav><br/>
    {{name}}'s Portfolio @ <a href="https://www.wenogk.com" target="_blank"
        rel="noopener noreferrer">Romeno</a>. All Rights Reserved 2021</footer>